<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/global.css">
    <title>3DPartPicker</title>
</head>
<body>
    <nav>
            
        <a href="/"><img src="../images/logo_text.png" alt="logo"></a>
        <div class="search">
            <form action="/searchroute" method="POST">
                <button id="filter">filter</button>
                <input type="text" placeholder="Search.." name="search" id="input">
                <button type="submit">Search</button>
            </form>
        </div>
        <!--filler routes-->
        <a href="/print?user=1" id="discover"><p>Discover Printer</p></a>
        <a href="/account" id="account"><p>Account</p></a>
        <img src="" alt="cart" id="cart"><!--dropdown-->

    </nav>

    <section class="about">
        <h1>EASY 3D PRINTING</h1>
    </section>
    
    
    <section class="popularParts">
        <h1>Popular Parts</h1>
        <!--<div id="slider">
            <div class="MS-content">
                    <a href=""><div class="popularProducts"></div></a>
            </div>
            <div class="MS-controls">
                <button class="MS-left"><i class="arrow left" aria-hidden="true"></i></button>
                <button class="MS-right"><i class="arrow right" aria-hidden="true"></i></button>
            </div>
        </div>
    -->
    </section>
    <section class="market">
        <section class="newReleases">
            
            <h2>New Releases</h2>
            <div class="products">
                
            </div>
        </section>
        <section class="art">
            <h2>Art</h2>
            <div class="products">
                
            </div>
        </section>
        <section class="toys">
            <h2>Toys</h2>
            <div class="products">
                
            </div>
        </section>
    </section>


    <footer>
            <section class="social">
                <h1>socials</h1>
            </section>
            <section class="pages">
                <h1>pages</h1>
            </section>
            
    </footer>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/multislider.min.js"></script>
<script src="../js/test.js"></script><!--linked to a test.js document-->
<script>
    let parts = <%- JSON.stringify(parts) %>;
    $('#slider').multislider();
</script>
</html>
