<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/global.css">
    <title>3DPartPicker</title>
</head>
<body>
    <nav>
        <a href="/"><img src="../images/logo_text.png" alt="logo"></a>
        <div class="search">
            <form action="/searchroute" method="POST">
                <button id="filter">Filter</button>
                <input type="text" placeholder="Type anything..." name="search" id="input">
                <button id="searchButton" type="submit">Search</button>
            </form>
        </div>
        <a id="avatarText"></a>
        <img id="avatarImg">
        <!--filler routes-->
        <a href="/print" id="discover"><p>Discover Printers</p></a>

    </nav>

    <section class="about">
        <h1 class="title">3DPARTPICKER</h1>
        <h4 class="heading">THE WORLD AT YOUR FINGERTIPS.</h4>
    </section>
    
    <section class="popularParts">
        <h2>Popular Parts</h2>
        <!--<div id="slider">
            <div class="MS-content">
                    <a href=""><div class="popularProducts"></div></a>
            </div>
            <div class="MS-controls">
                <button class="MS-left"><i class="arrow left" aria-hidden="true"></i></button>
                <button class="MS-right"><i class="arrow right" aria-hidden="true"></i></button>
            </div>
        </div>
    -->
    </section>
    <section class="market">
        <section class="newReleases">
            
            <h2>New Releases</h2>
            <div class="products">
                
            </div>
        </section>
        <section class="art">
            <h2>Art</h2>
            <div class="products">
                
            </div>
        </section>
        <section class="toys">
            <h2>Toys</h2>
            <div class="products">
                
            </div>
        </section>
    </section>


    <footer>
            <section class="social">
                <h1>socials</h1>
            </section>
            <section class="pages">
                <h1>pages</h1>
            </section>
            
    </footer>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script src="../js/multislider.min.js"></script>-->
<script src="../js/main.js"></script>
<script>
    let parts = <%- JSON.stringify(parts) %>;
    let user = <%- JSON.stringify(user) %>;
    let avatarUrl = '<%- avatarUrl %>';
    //$('#slider').multislider();
</script>
</html>
