<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Map</title>

    <link rel="stylesheet" type="text/css" href="../css/print.css" />
    <script src="../js/print.js"></script>
  </head>
  <body>
    <script>
        let part = <%- JSON.stringify(part) %>;
        let user = <%- JSON.stringify(user) %>;
        let avatarUrl = '<%- avatarUrl %>';
        let sellers = <%- JSON.stringify(sellers) %>;
    </script>
    <nav>
        <a href="/" id="logo"><img src="../images/logo_text.png" alt="logo"></a>
        <div id="search" class="search">
            <form action="/searchroute" method="POST">
                <button id="filter">Filter</button>
                <input type="text" placeholder="Type anything..." name="search" id="input">
                <button type="submit">Search</button>
            </form>
        </div>
        
        <!--filler routes-->
        <div id="avatar">
          <a id="avatarText"></a>
          <img id="avatarImg">
        </div>
        <div style="clear:right;"></div>
    </nav>

    <section class="info"> 
      <h1 id="caption1"></h1>
      <h4 id="caption2"></h4>
      <!--The div element for the map -->
      <div id="map"></div>

    </section>

    <section class="customerInfo">
      <div id="checkoutElements" style="visibility: hidden;">
        <h2 id="selectedName">- No Printer Selected -</h2>
        <h4 id="selectedAddress"></h4>
        <img id="selectedProfile" src="">
        <h2 id="selectedItem"></h2>

        <form id="checkoutForm" action="/create-checkout-session" method="post">
          <input id="checkoutQt" name="qt" type="hidden">
          <input id="checkoutProduct" name="product" type="hidden">
          <input id="checkoutSeller" name="seller" type="hidden">
          <button id="checkoutButton" type="submit" disabled>Checkout</button>
        </form>
      </div>

      <form id="coordinateForm" action="/findSellers" method="post">
        <input id="latCoord" name="lat" type="hidden">
        <input id="lonCoord" name="lon" type="hidden">
        <button id="coordinateButton" type="submit" style="visibility:hidden;"></button>
      </form>
  </section>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkJ_T9KxMbO4VFLl5kXveos7ZvYqrTbEs&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>