<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/product.css">
    <title>Product</title>
</head>
<body>
    <nav>
            
        <a href=""><img src="" alt="logo"></a>
        <div class="search">
            <form action="/searchroute" method="POST">
                <button id="filter">filter</button>
                <input type="text" placeholder="Search.." name="search" id="input">
                <button type="submit">Search</button>
            </form>
        </div>
        <!--filler routes-->
        <a href="/discover" id="discover"><p>Discover Printer</p></a>
        <a href="/account" id="account"><p>Account</p></a>
        <img src="" alt="cart" id="cart"><!--dropdown-->

    </nav>
    <section class="filter">

    </section>
    <section class="martketplace">

    </section>
    <footer>

    </footer>
</body>
<script src="../js/main.js"></script>
</html>