<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/product.css">
    <title>Product</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <a href=""><img id="logoImg" src="../images/logo_text.png" alt="logo"></a>
        <div id="searchBar">
            <form action="/searchroute" method="POST">
                <button id="filter">filter</button>
                <input type="text" placeholder="Search.." name="search" id="input">
                <button type="submit">Search</button>
            </form>
        </div>
        <img id="avatarImg">
        <a id="avatarText"></a>
        <div style="clear:right;"></div>
    </header>
    <nav>
        <!--filler routes-->
        <!-- NATHAANS STUFF -->
        <section class="productName">
                <h1 id="partTitle"></h1>
        </section>
        
        <section class="productName">
                <div id="tagList"></div>
        </section>
        
        <section class="slideShow">
                <div id="imageList"></div>
        </section>

        <section class="slideShow">
                <div id="imageList"></div>
        </section>

        <section class="slideShow">
                <ul id="partDescription"></ul>
        </section>
        
        <section class="slideShow">
                <ul id="partDescription"></ul>
        </section>
    </nav>

    <div>
        <form id="checkoutForm" action="/print" method="post">
            <input id="hiddenUserInput" type="hidden" name="user">
            <input id="hiddenPartInput" type="hidden" name="part">
            <input name="qt" type="number" value=0>
            <button type="submit">Checkout</button>
        </form>
    </div>

    <section class="marketplace">
    </section>
    <footer>

    </footer>
</body>
<script>
    let part = <%- JSON.stringify(part); %>;
    let user = <%- JSON.stringify(user); %>;
    let avatarUrl = '<%- avatarUrl %>';
</script>

<script src="../js/product.js"></script>

</html>