<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/product.css">
    <title>Product</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <nav>
        <a href="/" id="logo"><img src="../images/logo_text.png" alt="logo"></a>
        <div id="search" class="search">
            <form action="/searchroute" method="POST">
                <button id="filter">Filter</button>
                <input type="text" placeholder="Type anything..." name="search" id="input">
                <button type="submit">Search</button>
            </form>
        </div>
        
        <!--filler routes-->
        <a href="/print" id="discover" style="visibility: hidden;"><p>Discover Printers</p></a>
        <div id="avatar">
          <a id="avatarText"></a>
          <img id="avatarImg">
        </div>
        <div style="clear:right;"></div>
    </nav>
    <div>
        <!--filler routes-->
        <!-- NATHAANS STUFF -->
        <h1 id="partTitle"></h1>
        <div id="tagList"></div>
        <div id="imageList"></div>
        <ul id="partDescription"></ul>
        <!-- -->
        <img src="" alt="cart" id="cart"><!--dropdown-->

    </div>

    <div>
        <form id="checkoutForm" action="/print" method="post">
            <input id="hiddenUserInput" type="hidden" name="user">
            <input id="hiddenPartInput" type="hidden" name="part">
            <input name="qt" type="number" value=0>
            <button type="submit">Checkout</button>
        </form>
    </div>

    <section class="martketplace">

    </section>
    <footer>

    </footer>
</body>
<script>
    let part = <%- JSON.stringify(part); %>;
    let user = <%- JSON.stringify(user); %>;
    let avatarUrl = '<%- avatarUrl %>';
</script>

<script src="../js/product.js"></script>

</html>