<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <title>3DPartPicker</title>
</head>
<body>
    <h1>Your order is on its way!</h1>
    <h3 id="pickupMessage"></h3>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let seller = <%- JSON.stringify(seller) %>;
    
    onload = function() {
        let pickupMessage = document.getElementById('pickupMessage');
        pickupMessage.innerHTML = `Pick up your order at `;
    }
</script>
</html>
