<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/success.css">
    <title>3DPartPicker</title>
</head>
<body>
    <nav>
        <a href="/"><img src="../images/logo_text.png" alt="logo"></a>
    </nav>
    <h1 id="title">Success!</h1>
    <h1>Your order is on its way!</h1>
    <h3>When you are notified, pick up your order at</h3>
    <h2 id="pickupMessage"></h2>
    <a href="/?user=1"><p>Back to Home</p></a>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let seller = <%- JSON.stringify(seller) %>;
    
    onload = function() {
        let pickupMessage = document.getElementById('pickupMessage');
        pickupMessage.innerHTML = seller.address;
    }
</script>
</html>
