<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <title>3DPartPicker</title>
</head>
<body>
    <h1>SUCCESS!</h1>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let part = <%- JSON.stringify(part) %>;
    let user = <%- JSON.stringify(user) %>;
    let qt = <%- qt %>;
    console.log(part);
    console.log(user);
    console.log(qt);
</script>
</html>
