* {
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    background-color: white;
    font-family: recursive;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(119, 117, 117);
}

nav {
    display: grid;
    text-align: center;
    background-color: black;
    color: white;
    
}

nav img{
    grid-column: 1 / 2;
    height: 50px;
    width:auto;
}

button,  input {
    font-family: recursive;
    border: none;
    padding: 5px 10px;
}

.title {
    font-family: rubik;
    padding-bottom: 15px;
}



#filter{
    margin-top: 15px;
    grid-column: 3;
}

#input{
    grid-column: 4 / 8;
}

nav form button{
    grid-column: 9;
}

#discover{
    margin-top: 17px;
    grid-column:10;
    color:#DA8F2A
}

#account{
    margin-top: 20px;
    grid-column:11;
    color:#DA8F2A
}

.about{
    padding-top:50px;
    background-color: #DA8F2A;
    color:black;
    font-size: 3em;
    height: 200px;
    text-align: center;
}

.about .heading {
    color: #222324;
}

.market{
    display: grid;
    grid-template-columns:repeat(8,1fr);
    grid-auto-rows: minmax(100px, auto);
}

.popularParts {
    padding-top: 40px;
}

#slider {
    position: relative;
    top:50px;
    margin-bottom: 30px;
}

#slider .MS-content {
    white-space: nowrap;     
    overflow: hidden;    
    margin-left: 8%;
    margin-right: 8%;    
}

#slider .MS-content .item {
    display: inline-block;   
    width: 18%;              
    position: relative;      
    vertical-align: top;     
    overflow: hidden;        
    height: 250px;            
    white-space: normal;     
    padding-left: 1%;
    padding-right:1%;
    transition: transform 0.6s;
    border-radius: 10px;
}

#slider .MS-content .item:hover {
    transform :scale(1.1);
}

#slider .MS-controls button {
    position: absolute;      
    top: 55px;
    height: 50px;
    opacity: 0.4;
    transition: transform 0.5s;
    margin-left: 7%;
    margin-right: 7%;
}

#slider .MS-controls button:hover {
    transform: scale(1.05)
}

#slider .MS-controls .MS-left {
    left: 10px;
}
#slider .MS-controls .MS-right {
    right: 10px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.market{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap:20px;
}


.newReleases{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    color: #DA8F2A;
}   

.newReleases h2, .art h2, .toys h2{
    font-size:2em;
    grid-column: 1;
    
}

.art{
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr;
    color: #DA8F2A;
}

.toys{
    grid-row: 6;
    display: grid;
    grid-template-columns: 1fr;
    color: #DA8F2A;
}

footer{
    background-color: #DA8F2A;
    color:white;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 200px;
    gap: 50px;
    text-align: center;
    margin-top: 100px;
    
}

footer .social {
    grid-column:2;   
}

footer .pages{
    grid-column:3;   
}

/*CARDS css*/
.products{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
    
}

.cardlink{
    background-color: red;
}
.carddiv{
    
}
.cardimg{
    
    height: auto;
}
.cardprice{

}
.cardtag{

}
.cardname{

}