body {
    margin: 0;
    padding: 0;
    font-family: "Recursive";
}

header {
    display: grid;
    background-color: #131921;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}

#logoImg {
    grid-column: 1 / 2;
    height: 50px;
    width:auto;
}

#filter{
    grid-column: 3;
}

#input {
    grid-column: 4 / 8;
}

header form button {
    grid-column: 9;
}

#avatarText {
    color: #aaaaaa;
}

#avatarImg {
    width: 75px;
    height: 75px;
    float: right;
    border-radius: 50%;
}
