body {
    margin: 0;
    padding: 0;
    font-family: "Recursive";
}

header {
    display: grid;
    background-color: #131921;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}

#logoImg {
    grid-column: 1 / 2;
    height: 50px;
    width:auto;
}

#filter{
    grid-column: 3;
}

#input {
    grid-column: 4 / 8;
}

header form button {
    grid-column: 9;
}

#avatarText {
    color: #aaaaaa;
}

#avatarImg {
    width: 75px;
    height: 75px;
    float: right;
    border-radius: 50%;
}

/* SLIDESHOW RELATED CSS */

#imageList {
    max-width: 1000px;
    position: relative; 
    margin: auto;
}

.blur {
    -webkit-animation-name: blur;
    -webkit-animation-duration: 1.5s;
    animation-name: blur;
    animation-duration: 3s;
  }

@keyframes blur {
    from {opacity: .5}
    to {opacity: 0.9}
}

@-webkit-keyframes blur {
    from {opacity: .5}
    to {opacity: .9}
}

/* CLASSES FOR FORMATTING */
.productName {
    
}

.productTags {

}

.slideShow {

}

.productInfo {

}

.checkout {

}