body {
    margin: 0;
    padding: 0;
    font-family: "Recursive";
}

header {
    background-color: #131921;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}

nav {
    background-color: black;
    color: white;
    text-align: center;
}

nav img {
    height: 50px;
    width:auto;
    padding-bottom: 16px;
}

nav #logo {
    margin-top: 12px;
    margin-left: 32px;
    margin-right: 32px;
    float: left;
}

nav #search {
    float: left;
}

button, input {
    margin-top: 20px;
    font-family: "Recursive";
    border: none;
    padding: 5px 10px;
}

nav button, input {
    font-size: 13.5px;
}

#filter {
    margin-top: 15px;
    grid-column: 3;
}

#discover{
    margin-top: 10px;
    float: left;
    color:#DA8F2A;
    margin-left: 64px;
}

#avatar {
    float: right;
}

#avatarText {
    float: left;
    padding-top: 24px;
    padding-right: 16px;
    color: #bbbbbb;
}

#avatarImg {
    float: right;
    padding: 8px;
    margin-right: 16px;
    border-radius: 50%;
}

footer{
    background-color: black;
    color:white;
    height:150px;
    margin-top: 100px;
}
/* SLIDESHOW RELATED CSS */

#imageList {
    max-width: 1000px;
    position: relative; 
    margin: auto;
}

.blur {
    -webkit-animation-name: blur;
    -webkit-animation-duration: 1.5s;
    animation-name: blur;
    animation-duration: 3s;
  }

@keyframes blur {
    from {opacity: .1}
    to {opacity: .9}
}

@-webkit-keyframes blur {
    from {opacity: .1}
    to {opacity: .9}
}

/* CLASSES FOR FORMATTING */
.productName {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #DA8F2A;

}

.productTag {
    color:black;
    background-color: rgb(228, 228, 228);
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 60px;
}

.productHeader {
    text-align: center;
    margin: auto;
}

#main {
    height: 500px;
}

#main h1 {
    margin: auto;
}

#main h2 {
    margin: auto;
    padding-bottom: 25px;
    font-size: 30pt;
}

.slideShow {
    width: 50%;
    float: left;
}

.productInfo {
    width: 40%;
    float: right;
    text-align: center;
    border: solid 5px rgb(228, 228, 228);
    border-radius: 25px;
    margin-right: 82px;
    padding: 20px;
    height: 423px;

}

.productInfo h2 {
    padding-top: 20px;
}

.productInfo h3 {
    margin-top: 15px
    margin-bottom: 15px;
    font-size: 35px;
    color: #c93232;
}

.partDescription {
    padding-top: 20px;
}

.checkout {
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #DA8F2A;
    text-align: center;

}

.checkout input, button {
    margin-bottom: 40px;
    font-size: 15pt;
}

li {
    position: relative;
    text-align: left;
    text-indent: 2em;
  }